{% include "header.html" %}
{% block styles %}
    <style>
           body {background-image:url("static/assets/background-destination-desktop.jpg");}
    </style>
{%endblock%}

<div class="page2">
        <div class="dstn-bar">


                    <a class="a-dstn" href="">MOON</a>
                    <a class="a-dstn" href="">MARS</a>
                    <a class="a-dstn" href="">EUROPA</a>
                    <a class="a-dstn" href="">TITAN</a>

                    <h1 class="h1-dstn">MARS</h1>

                    <p class="p-dstn">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores
                                et quas molestias excepturi sint occaecati cupiditate non
                                provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                                Et harum quidem rerum facilis est et expedita distinctio.</p>

                            <hr class="hr-dstn">
                    <table style="border-spacing: 5px; width:100%; padding-bottom:70px;">

                        <tr class="row1">
                            <td>AVG. DISTANCE</td>
                            <td>EST. TRAVEL TIME</td>
                        </tr>
                        <tr class="row2">
                             <td>225 MIL.KM</td>
                             <td >9 MONTHS</td>
                        </tr>


                    </table>


        </div>


         <div class="page-title">
                 <h3 class="num-h3" style="display:inline;padding-right:10px;"> 01</h3>
                 <h3 style="display:inline;">PICK YOUR DESTINATION</h3>

         </div>

        <div class="dstn-img">
                <img src="static/assets/image-mars.png">
        </div>

</div>

</body>
</html>