<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">



    <link rel="stylesheet" href="static/css/spaceStyles.css">
    <link rel="stylesheet" href="static/css/images">


<!--    FONT LINKS FORM GOOGLE FONT -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

<!--    FONT LINKS FORM GOOGLE FONT -->
    <style>{% block styles %} {%endblock%}</style>


     <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <div class="topBar0">
            <img class="starImg" src="static/css/star.png" >
            <hr class="topHr">
        </div>

        <div class="topBar">

            <a class="a-bar" href="/">00 Home</a>
            <a class="a-bar" href="/destination">01 DESTINATION</a>
            <a class="a-bar" href="/crew">02 CREW</a>
            <a class="a-bar" href="/tech">03 TECHNOLOGY</a>

        </div>

    </div>